<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header"></div>

        <div class="section">
            <div class="sub3">
                <h1 class="heading1">Applied jobs below</h1>
                <a class="link slide" routerLink="/header-company" routerLinkActive="active"><span>Jobs Applied</span></a>
                <a class="link slide" routerLink="/add-company" routerLinkActive="active"><span>Add jobs</span></a>
                <a class="link slide" routerLink="/jobstatus-company" routerLinkActive="active"><span>Status</span></a>                                                                
                    
            </div>
        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>
