<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Document</title>
</head>
<body>
    <div class="contianer">
        <div class="header">
          <div class="sub1">
            <!-- add logo image here -->
          </div>
          <div class="sub2">
            <ul>
                <li><a href="">Home</a></li>
                <li><a routerLink="/company" routerLinkActive="active">JOB</a></li>
                <li><a href="">CodeCamping</a></li>
                <li><a href="">FAQs</a></li>
            </ul>
          </div>
          <div>
            <button class="butt1">Log In</button>
            <button class="butt2">Sign Up</button>
          </div>
        </div>

        <div class="section">
            <div class="sub3">
                <h1 class="heading1">Job Search</h1>
                <p class="heading2">According to the Bureau of Labor Statistics, employment of web developers is projected to grow by an impressive 16% from 2022 to 2032—much faster than the average for all occupations.

                  At the same time, remote work is on the rise - it’s predicted that, by 2028, 73% of all teams will have remote workers.</p>
                    <button class="butt1 butt3">Start Now</button>
            </div>
            <div class="sub4">
                <img src="/assets/pic03.jpg" alt="" class="image2">
                <img src="/assets/pic03.jpg" alt="" class="image3">
            </div>
        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>